@charset "UTF-8";

body{
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  font-family: 'Shippori Mincho', serif;
}

.body-detail {
  background-color: #000;
}


main{
  background-color: #000;
  opacity: 0.8;
}

.main-detail{
  background-color: #000;
  opacity: 1.0;
}

/* ヘッダー */

.header-home{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: relative;
  /* border-bottom: 1px solid #fff; */
}

.header-detail{
  width: 100vw;
  background-color: #000;
  color: #fff;
  margin-bottom: 2vh;
}

.sidebar{
  height: 100vh;
  width: 3%;
  margin: 0 0 0 auto;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.sidebar-menu{
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  color: #fff;
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 3;
}

.sidebar-list
{
  color: #000;
  width: 25vw;
  height: 100vh;
  justify-content: flex-start;
  margin: 0 0 0 auto;
  background-color: #fff;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.sidebar-list.is-active{
  color: #000;
  width: 32vw;
  height: 100vh;
  padding-top: 15vh;
  padding-left: 4vw;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 2;
  position: relative;
  display: block;
}

.sidebar-item{
  font-size: 3vw;
  line-height: 15vh;
  position: relative;
}

.sidebar-item::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.003vh;/*線の上下位置*/
  display: inline-block;
  width: 6vw;/*線の長さ*/
  height: 4px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-230%);/*位置調整*/
  background-color: #000;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

@media screen and (max-width: 1024px){
  .sidebar-menu{
    font-size: 32px;
  }
}

@media screen and (max-width: 670px){
  .sidebar-menu{
    font-size: 16px;
    top: 1%;
  }
}


/* バーガー */
.burger{
  width: 60px;
  height: 60px;
  background-image: url(../img/burger-open.svg);
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ccc;
}

.burger:hover{
  background-color: #ddd;
}

.burger.is-active{
  background-image: url(../img/burger-close.svg);
  z-index: 3;
}

@media screen and (max-width: 1024px){
  .burger{
    width: 48px;
    height: 48px;
    background-size: 36px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 670px){
  .burger{
    width: 28px;
    height: 28px;
    background-size: 22px;
  }
}

/* キービジュアル */

.kv {
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  /* これがkvの位置の基準 */
}

.kv.__index {
  height: 100vh;
  background-image: url(../img/header-kv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

@media screen and (max-width: 1024px){
  .kv.__index{
    background-image: url(../img/profile.jpg);
  }
}




/* タイトル */

.sirasu{
  font-size: 4vw;
  font-weight: bold;
  color: #fff;
  filter:brightness(150%);
  position: absolute;
  top: 62.5%;
  left: 60%;
  z-index: 1;
}




@media screen and (max-width: 1024px){
  .sirasu{
    font-size: 48px;
    top: 55%;
    left: 34%;
  } 

  .sirasu-sub{
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 63%;
    left: 42%;
  }
}

@media screen and (max-width: 670px){
  .sirasu{
    font-size: 30px;
    left: 30%;
  }  

  .sirasu-sub{
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 63%;
    left: 41%;
  }

}




/* SNS-HOME */

.sns-btn{
  color: #000;
  background-color: #fff;
  margin: 0 5vw;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(256, 256, 256,0.2);
  width: 4vh;
  height: 4vh;
  z-index: 1;
  position: absolute;
  top: 80%;
  left: 68%;
  float: left;
}

.sns-btn:hover{
  width: 200px;
  z-index: 1;
}

.sns-btn:nth-child(2):hover .sns-icon{
  background: #4267b2;
  z-index: 1;
}
.sns-btn:nth-child(1):hover .sns-icon{
  background: #e1306c;
}


.sns-icon{
  display: inline-block;
  height: 4vh;
  width: 4vh;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 4vh;
  text-align: center;
  transition: all 0.3s;
}

.sns-icon i {
  font-size: 2vw;
  line-height: 4vh;
}

.sns-btn:hover .sns-icon i{
  color: #fff;
}

.sns-btn span{
  font-size: 20px;
  font-weight: 500;
  line-height: 4vh;
  margin: auto 10px auto auto;
  align-items: center;
  transition: all 0.3s;
  color: #2C2924;
}

.sns-btn:nth-child(2):hover span{
  color: #4267b2;
  /* align-items: center; */
}
.sns-btn:nth-child(1):hover span{
  color: #e1306c;
  /* align-items: center; */
}

.sns-btn + .sns-btn {
  margin-left: 2vw;
}

/* .sns-btn + .sns-btn {
  margin-left: vw;
}
 */



 .header-translation-area{
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  position: absolute;
  left: 100px;
  z-index: 999;
  top: 500px;
  font-size: 18px;
 }


 .translation-container{
  padding: 7px 0;
  color: #fff;
  display: inline-block;
 }

 .translation-container ul{
  display: flex;
  justify-content: center;
 }

 .translation-item{
  width: 50px;
  padding-left: 15px;
 }

 .translation-item.__jp{
  opacity: 0.5;
 }


 @media screen and (max-width: 1024px){
  .sns-btn{
    display: none;
  }
    .header-translation-area{
      left: 50px;
      top: 1200px;
      font-size: 28px;
  }
}

@media screen and (max-width: 670px){
  .header-translation-area{
    left: 15px;
    top: 50px;
    font-size: 12px;
  }
 }
 









/* ナビゲーション */
.header-logo-content{
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.header-logo-icon{
  width: 6vw;
}

.header-name{
  margin-left: 1vw;
}

.name-main{
  font-size: 2vw;
  text-align: center;
}

.name-sub{
  font-size: 0.8vw;
  text-align: center;
  margin-top: 0.6vw;
}


/* ボタン全体 */
.socialmedia{
  margin: 0 0 0 auto;
}

.flowbtn12{
  font-family:'Verdana',sans-serif;	
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 11vw;
  height: 4vw;
  font-size: 2vw;
  transition:.4s;
  }
  /* ボタン内テキストマウスホバー時 */
  .flowbtn12:hover{
    color:#fff!important;
    text-decoration:none;
  }
  /* Instagram */
  .flowbtn12.insta_btn2{
    border:solid 1px #c6529a;
    color:#c6529a;
  }

  .flowbtn12.insta_btn2 span{
    padding: 0 auto;
  }
  /* Instagramマウスホバー時 */
  .flowbtn12.insta_btn2:hover{
  border:solid 1px #c6529a;
  background:#c6529a;
  }
  /* Facebook */
  .flowbtn12.fl_fb2{
  border:solid 1px #3b5998;
  color:#3b5998;
  }
  /* Facebookマウスホバー時 */
  .flowbtn12.fl_fb2:hover{
  border:solid 1px #3b5998;
  background:#3b5998;
  }
  /* ボタン内テキスト調整 */
  .flowbtn12 span{
  font-size:14px;	
  position:relative;
  left:8px;
  bottom:2px;	
  }
  /* ulタグの内側余白を０にする */
  ul.snsbtniti2{
  padding:0!important;
  }
  /* ボタン全体の位置 */
  .snsbtniti2{
  display:flex;
  flex-flow:row wrap;
  }
  /* ボタン同士の余白 */
  .snsbtniti2 li{
    display: flex;
    margin-right: 4vw;
    text-align:center !important;
  }

.header-nav{
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5vw auto 0 auto;
}

.header-nav li {
  list-style: none;
  padding-left: 0;
  font-size: 2.5vw;
}

.nav-item{
  /* margin-left: 3vw; */
  margin-right: 3vw;
  position: relative;
  opacity: 0.7;
}

.nav-item.__home{
  opacity: 0.7;
}

.nav-item.__home:hover{
  color: #fff;
  opacity: 1.0;
}
.nav-item.__collection:hover{
  color: #fff;
  opacity: 1.0;
}
.nav-item.__about{
  opacity: 0.7;
}
.nav-item.__about:hover{
  color: #fff;
  opacity: 1.0;
}
.nav-item.__shop{
  opacity: 0.7;
}
.nav-item.__shop:hover{
  color: #fff;
  opacity: 1.0;
}
.nav-item.__contact{
  opacity: 0.7;
}
.nav-item.__contact:hover{
  color: #fff;
  opacity: 1.0;
}


.nav-item::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 4vw;/*線の長さ*/
  height: 2.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #2bc8d4;/*線の色*/
  border-radius: 2px;/*線の丸み*/
  opacity: 0.5;
}

.nav-item:hover::after{
  background-color: #2bc8d4;/*線の色*/
  opacity: 1.0;
  transition: all 0.3s;
}


/* section */
.section-wrap{
  width: 72vw;
  margin: 0 auto;
  border-bottom: 1.0px solid #fff;
}

.section-wrap.__profile{
  border-bottom: none;
}

.section-ttl{
  color: #fff;
  filter:brightness(150%);
  font-size: 3vw;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 80px;
  margin-bottom: 6vw;
  transform: translateX(-50%);
  left: 50%
}

.section-ttl::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2.0vh;/*線の上下位置*/
  display: inline-block;
  width: 6vw;/*線の長さ*/
  height: 2.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #2bc8d4;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.section-ttl-sub{
  color: #fff;
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 4vw;
}

@media screen and (max-width: 1024px){
  .section-wrap{
    width: 90vw;
  }

  .section-ttl{
    font-size: 48px;
  }

  
}

@media screen and (max-width: 670px){
  .section-ttl{
    font-size: 28px;
    padding-top: 40px;
  }

  .section-ttl::after{
    height: 1px;
    bottom: -9px;
  }

  .section-wrap{
    padding-bottom: 1px;
    margin-bottom: 1px;
  }
}

/* collection */

.collection-items{
  display: flex;
  align-items: center;
}

.collection-items + .collection-items{
  padding-top: 2vh;
}

.collection-img{
  width:32vw;
}

.collection-txt{
  color: #fff;
  filter:brightness(150%);
  font-size: 1.8vw;
  display: flex;
  flex-direction: column;
}

.collection-txt-main{
  font-weight: bold;
  width: 4vw;
  position: relative;
  display: inline-block;
}

.collection-txt-main::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.8vh;/*線の上下位置*/
  display: inline-block;
  width: 2vw;/*線の長さ*/
  height: 2.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #2bc8d4;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.collection-txt-sub{
  margin-top: 3.6vw;
  line-height: 6vh;
  opacity: 0.9;
}

.collection-txt.__tan{
  margin-left: 7vw;
}

.collection-txt.__ao{
  margin-right: 8vw;
}

@media screen and (max-width: 1024px){
  .collection-img{
    width: 400px;
  }

  .collection-img.__ao{
    margin-right: 0px;
    padding-right: 0px;
  }
  
  
  .collection-items{
    margin: 20px 30px;
  }

  .collection-items.__ao{
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 100px;
  }

  .collection-txt.__tan{
    margin-left: 100px;
  }

  .collection-txt.__ao{
    margin-right:55px;
  }

  .collection-txt-sub{
    line-height: 2;
    margin-top: 40px;
  }
}

@media screen and (max-width: 670px){
  .collection-img{
    width: 200px;
  }

  /* .collection-img.__ao{
    margin-right: 0px;
    padding-right: 0px;
  } */
  
  
  .collection-items{
    margin: 0 auto;
  }

  .collection-items.__ao{
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 2px;
  }

  .collection-txt-main{
    font-size: 1em;
    width: 3em;
  }

  .collection-txt-main::after{
    width: 3em;
    bottom: -1.5em;
    height: 1px;
  }

  .collection-txt.__tan{
    margin-left: 8px;
  }

  .collection-txt.__ao{
    margin-right:55px;
  }

  .collection-txt-sub{
    line-height: 1.5;
    /* font-size: 2px; */
    margin-top: 32px;
  }

}

/* ボタン */

.btnlink{
  margin-top: 10vh;
  font-size: 1.25vw;
  font-weight: bold;
  display: inline-block;
  border-radius: 10px;
  padding: 1em 2em 1em 1.5em;
  background: #fff;
  color: #000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #000;
  box-shadow: 0.18vw 0.3vh 0.6vw 0.08vw #ccc;
  margin-bottom: 100px;
}

.btnlink::after{
  content: '\f105';
  font: var(--fa-font-solid);
  padding-left: 10px;
  position: absolute;
  top: 50%;
  right: 0.6em;
  transform: translateY(-50%);
}

.btnlink:hover{
  background-color: #000;
  opacity: 0.75;
  color: #fff;
  transition: all 0.5s;
}

@media screen and (max-width: 1024px){
  .btnlink{
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 60px;
    padding: 20px 36px;
    box-shadow: 3px 3px 5px #bbb;
    border: 1.2px solid #333;
  }
  

}



@media screen and (max-width: 670px){
  .btnlink{
    margin-top: 30px;
    margin-bottom:40px;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid ;
    box-shadow: 1px 1px 1.5px #bbb;
  }

  .btnlink::after{
    right: 3px;
  }
}

/* pv */

.pv-video{
  width: 100%;
  /* border-radius: 20px; */
}

@media screen and (max-width: 1024px){
  .pv{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 670px){
  .pv{
    margin-bottom: 15px;
  }
}



/* profile */



.profile-content{
  display: flex;
}

.profile-img{
  width: 28vw;
}

.profile-txt{
  color: #fff;
  filter:brightness(150%);
  font-size: 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.profile-txt-main{
  font-weight: bold;
  width: 12vw;
  position: relative;
  display: inline-block;
}

.profile-txt-main::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.8vh;/*線の上下位置*/
  display: inline-block;
  width: 4vw;/*線の長さ*/
  height: 2.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-55%);/*位置調整*/
  background-color: #2bc8d4;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.profile-txt-sub-pc{
  padding-top: 6vh;
  line-height: 1.5;
  font-size: 1.5vw;
}


@media screen and (max-width: 1024px){
  .profile-img{
    margin-left: 10px;
    width: 300px;
  }


  .profile-txt-main::after{
    height: .01em;
  }
  .profile-txt-sub{
    line-height: 2;
  }
}

.profile-txt-sub-mobile{
  display: none;
}

@media screen and (max-width: 670px){

  .profile-content{
    margin-top: 10px;
  }

  .profile-img{
    width: 140px;
    /* margin-top: 50px; */
  }
  .profile-txt-main{
    width:60px
  }


  .profile-txt-sub-pc{
    display: none;
  }

  .profile-txt-sub-mobile{
    display: inherit;
    padding-top: 20px;
    font-size: 10px;
    line-height: 1.5;
  }
}


/* Collection */

.main-detail .section-wrap{
  width: 100vw;
  border-bottom: 1px solid #fff;
}

.section-ttl.__paintings{
  color: #fff;
  font-size: 2.5vw;
  padding-top: 10vh;
}

.content-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7.7vw;
}

.content{
  width: 25vw;
  height: 30vw;
  background-color: #fff;
  justify-content: center;
  margin-left: 7.2vw;
  margin-bottom: 3vw;
  border-radius: 5%;
}

.content:nth-child(3n-2){
  margin-left: 5.5vw;
}

.content-img{
  width: 20vw ;
  height: 16vw;
  display: block;
  margin: 5vw auto 0 auto;
  object-fit: contain;
  /* object-position: center; */
}

.content-txt-main{
  font-size: 1.25vw;
  margin: 0 1.5vw;
  border-bottom: 1px solid #000;
  padding-top: 5vw;
}

.content-txt-sub{
  color: #000;
  margin: 0 1.5vw;
  padding-top: 3vh;
}

/* About */

.about-content{
  width: 65vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-img{
  width: 25vw;
}

.about-img-detail{
  width: 25vw;
  object-fit: contain;
  object-position: center;
}

.about-img:nth-child(1), .about-img:nth-child(3){
  margin-right: 8vw;
}

.about-img:nth-child(2){
  margin-left: 8vw;
}

.about-txt{
  color: #fff;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  display: flex;
  flex-direction: column;
}

.about-twt-main{
  margin-bottom: 5vw;
}

.about-twt-main:nth-of-type(2){
  margin: 0 auto;
  font-size: 1000px;
}

.about-txt-sub{
  text-indent: 1.8vw;
  line-height: 1.5;
}

.article-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vw;
}

.article{
  width: 25vw;
  height: 12vw;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0.6vw;
  margin-left: 6.5vw;
  margin-bottom: 1vw;
}



/* .article:hover{
いずれつくる
} */

.article-date{
  font-size: 1.1vw;
  display: flex;
  margin-left: 1vw;
  padding-top: 1vw;
}

.article-when{
  opacity: 0.8;
  margin-left: 1vw;
}


.article-detail{
  font-size: 1.25vw;
  display: flex;
  align-items: center;
  margin-left: 1.5vw;
}

.article-txt{
  margin-left: 1.5vw;
}

.article-img-wrap{
  width: 18vw;
  height: 9vw;
  margin-top: 0.5vw;
}

.article-img{
  object-fit: contain;
}


/* Contactpage */
.contact{
  background-color: #000;
}


.contact-wrapper{
  display: flex;
}
.contact-nav{
  color: #fff;
  padding-left: 10vw;
  padding-top: 10vw;
  padding-bottom: 20vw;
  /* padding-left: 20vw; */
}

.contact-item{
  font-size: 3.75vw;
  position: relative;
}

.contact-item::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.5vh;/*線の上下位置*/
  display: inline-block;
  width: 18vw;/*線の長さ*/
  height: 3px;/*線の太さ*/
  /* -webkit-transform: translateX(-50%); */
  transform: translateX(-50%);
  /* transform: translateX(-165%); */
  /* 位置調整 */
  background-color: #2bc8d4;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.contact-item + .contact-item{
  margin-top: 10vh;
}

.contact-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.contact-mailaddress{
  color: #fff;
  font-size: 3.75vw;
  margin-bottom: 2vw;
}

.contact-offer{
  font-size: 1.5vw;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.contact-sns-wrap{
  display: flex;
  padding-top: 3vw;
  padding-left: 18vw;
}

.contact-sns{
  margin-right: 5vw;
}

.fa-brands{
  color: #fff;
}

/* footer */


footer{
  border-top: 1.0px solid #fff;
}

.footer{
  background-color: #000;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8vh 3vw;
  /* border-top: 1px solid #fff; */
}

.body-detail .footer{
  border-top: 1px solid #fff;
}


.footer-nav-content{
  color: #fff;
}

.footer-nav-content + .footer-nav-content{
  margin-left: 5vw;
}

.footer-nav-main{
  font-size: 1.8vw;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 8vh;
  position: relative;
  display: inline-block;
}

.footer-nav-main::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.8vh;/*線の上下位置*/
  display: inline-block;
  width: 6vw;/*線の長さ*/
  height: 2.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #2bc8d4;/*線の色*/
  border-radius: 1.5px;/*線の丸み*/
}

.nav-sub{
  font-size: 1.6vw;
  display: flex;
  flex-direction: column;
}

.footer-nav-item + .footer-nav-item{
  margin-top: 3vh;
}

.footer-copy-content{
  height: 15vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  border-top: 1px solid #000;
  /* padding: 6vh auto; */
}

.footer-copy-content p{
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copy {
  color: #fff;
  margin: 6vh auto;
  font-size: 1vw;
  text-align: center;
  background-color: #000;
}

@media screen and (max-width: 670px){
.footer{
    display: inherit;
}

.footer-nav-content + .footer-nav-content{
  margin-left: 2rem;
}

.footer-nav-content{
  display: flex;
  margin-left: 2rem;
}

.footer-nav-main{
  font-size: 0.75rem;
  line-height: 2;
  opacity: 1;
  width: 8rem;
}

.footer-nav-main::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.8vh;/*線の上下位置*/
  display: inline-block;
  width: 6vw;/*線の長さ*/
  height: 2.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #2bc8d4;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}


.footer-nav-main::after{
  display: none;
}

.nav-sub{
  float: right;
  display: inherit;
  display: flex;
  font-size: 0.75rem;
  line-height: 2;
  opacity: 0.6;
  width: 15rem;
}

.footer-nav-item + .footer-nav-item{
  margin-top: 0;
}
}


.comming-soon{
  font-size: 30vw;
}